<%- include ('../shared/header') %>
  <div class="row mt-4">
    <div class="col">
      <a href="#" class="btn btn-primary btn-lg">
        Total Tasks <span class="badge badge-light">10</span> 
      </a>
      <hr />
      <a href="#" class="btn btn-success btn-lg">
        Completed Tasks <span class="badge badge-light">4</span>
      </a>
    </div>
  </div>
<%- ('include ../shared/footer') %>